{% include 'header.html' %}
    <!--div id="container"-->
        <a href="/1" class="btn btn-primary"> ^ Nombre</a> <a href="/2" class="btn btn-primary">^ Lejago</a>
        <br>
        <br>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Legajo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Acciones</th>
                </tr>   
            <thead>
                 
                <tbody>
                    {%for empleado in empleados%}
                    <tr>
                        <td>{{empleado[0]}}</td>
                        <td>{{empleado[1]}}</td>
                        <td>{{empleado[2]}}</td>
                        <td> 
                            <img class="img-thumbnail" width="100" src="{{url_for('uploads',nombreFoto=empleado[3])}}" alt="">
                        </td>
                        <td><a class = "btn btn-warning" href= "/edit/{{empleado[0]}}">Editar</a>  <a class = "btn btn-danger" href= "/delete/{{empleado[0]}}"> Borrar</a> <a class = "btn btn-secondary" href= "/inactive/{{empleado[0]}}"> Inactiva</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
        <br>
        <a href="alta_emp" class="btn btn-primary">Nuevo Empleado</a>
        <a href="/0" class="btn btn-primary">Regresar</a>
    <!--/div-->

{% include 'footer.html' %}